<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Posts</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!--     <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->

  </head>
<body>
<div>
<ul class="nav nav-tabs">
  <li role="presentation"><a href="/posts">All Posts</a></li>
</ul>
</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <h3 class="flashes" align="center" style="color:#337ab7">{{ message }}</h3>
    {% endfor %}
  {% endif %}
{% endwith %}
<div>
    <h3>{{blogpost.title}}</h3>
     <p>{{ blogpost.body|safe }}</p> 
     {% set tag_list = blogpost.tagstring.split(',') %}
     {% for t in tag_list %} 
      <a href="/tag/{{ t }}"> {{ t }}</a> 
     {% endfor %}
 </div>
</body>
</html>