{% import 'macros/form.html' as f with context %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Update Post</title>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdn.ckeditor.com/4.12.1/full/ckeditor.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
    <style type="text/css">
      .submitbt{
        width: 20%;
        height: 130%;
        background-color: #337ab7;
        color:white;
        border: none;
        border-radius: 5px; 
      }
      table{
        width: 30%;
        height: 60%;
        margin-top: 30px;
      }
      table tr td{
        padding-bottom: 10px;
      }
    </style>
  </head>
<body>
<div>
<ul class="nav nav-tabs">
  <li role="presentation" ><a href="/posts">All Posts</a></li>
</ul>
</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <h3 class="flashes" align="center" style="color:#337ab7">{{ message }}</h3>
    {% endfor %}
  {% endif %}
{% endwith %}
<div>
  {% if form.errors %}
    {{ form.errors }}
{% endif %}
</div>

    <div class="well">
      {% call f.form_tag('blog.update_post', pid=blogpost.id) %}
      <!-- <input type="hidden" id="pid" name="pid" value="{{ blogpost.id }}"/> -->

        <legend>Update Post - ID {{ blogpost.id }}</legend>

        {% call f.form_group(form.title, css_class='margin-bottom',
                             placeholder='Title') %}
        {% endcall %}

        {% call f.form_group(form.body, css_class='margin-bottom',
                             placeholder='Body',
                             rows='10') %}
        {% endcall %}

        {% call f.form_group(form.taglist, css_class='margin-bottom',
                             placeholder="Add tags separated by a ','") %}
        {% endcall %}

        {% call f.form_group(form.visible) %}
        {% endcall %}

        <button type="submit" class="submitbt">Update Post</button>
      {% endcall %}
    </div>
    <script>
            CKEDITOR.replace( 'body' );
    </script>
</body>
</html>